@model ChatVM

<div class="main-chat" id="chat" data-rid="@Model.Reciever.Id">
    <div class="chat-container" id="chat-container">
        <ul id="messagesList"></ul>
    </div>

    <div class="send-bar">
        <input id="Msg" type="text" />
        <button class="butn" id="sendMsgBtn" onclick="SendMsg('@Model.Sender.Id','@Model.Reciever.Id')">Send</button>
    </div>
</div>






<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
