
<div class="main-chat">
    <div class="chat-container">

        <ul id="messagesList"></ul>

    </div>

    <div class="send-bar">
        <input id="Msg" type="text" />
        <button id="sendMsgBtn" onclick="sendMessage()">Send Message</button>
    </div>
</div>









<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>