@using _Models.ViewModels
@model LoginVM


@{
    Layout = "_Layoutout";
}

<div class="reg-main">

    <div class="first-card">
        <div class="container">
            <form class="reg-form" id="registerForm" method="post" enctype="multipart/form-data">

                <h2>Login</h2>

                <div asp-validation-summary="All" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <i class="bi bi-envelope-fill icon"></i>
                    <input asp-for="Email" class=" reg-input" autocomplete="username" aria-required="true" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <i class="bi bi-key-fill icon"></i>
                    <input asp-for="Password" class=" reg-input" autocomplete="new-password" aria-required="true" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="check-box mb-3">
                    <div>
                        <input class="form-check-input" asp-for="RememberMe" />
                        <label class="form-label">Remember Me?</label>
                    </div>

                    <a id="forgot-password" asp-action="ForgetPass">Forgot your password?</a>
                </div>

                <button id="registerSubmit" type="submit" class="reg-btn">Login</button>
            </form>

            <div>
                <p>
                    
                </p>

            </div>
        </div>

    </div>

    <div class="second-card">
        <div class="container">
            <h3>A New User ?</h3>
            <p>  Create Your Account Now ! </p>
            <a asp-action="Registers">
                <div class="log-btn">
                    Register
                </div>
            </a>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
