<div class="pop-up">
    <i class="bi bi-exclamation-circle"></i>
    <h1>Your Friend Will Be Deleted From List</h1>
    <label>proceed?</label>
    <div class="btns">
        <a class="btn1" href="#">Cancel</a>
        <a class="btn2" href="#">Delete</a>
    </div>
</div>